


#skip {
  position: absolute;
  left: -9999px;
}

a {
  transition: all .3s ease;
}


html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
dialog,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 400;
  margin-top: 0em;
}


abbr[title] {
  border-bottom: 1px dotted;
}


b,
strong {
  font-weight: bold;
}


dfn {
  font-style: italic;
}


hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

a:hover, a:active {
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
}


img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.ie8 img {
  width: auto;
}

figure > img {
  display: block;
}


.gmap img, .view-gmap img, .openlayers-map img, #getlocations_map_canvas img {
  max-width: none;
}

figure {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  
  padding: 0;
  
}

button,
input,
select,
textarea {
  font-family: inherit;
  
  font-size: 100%;
  
  margin: 0;
  
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  
  cursor: pointer;
  
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  
  padding: 0;
  
}

input[type="search"] {
  -webkit-appearance: textfield;
  
  
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  
  vertical-align: top;
  
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


@media print {
  * {
    background: transparent !important;
    color: black !important;
    -webkit-filter: none !important;
            filter: none !important;
    text-shadow: compact(none, false, false, false, false, false, false, false, false, false);
    -ms-filter: none !important;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

blockquote {
  font-style: italic;
}

quote {
  font-style: italic;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1770px;
  }
}

@media (min-width: 2000px) {
  .container {
    width: 1970px;
  }
}


#content > .container {
  width: auto;
}


#block-views-packages-block .view-packages #views-bootstrap-grid-1,
#block-views-packages-block .view-products #views-bootstrap-grid-1,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 {
  margin-bottom: 30px;
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col {
  margin: 15px 0;
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col:last-child,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col:last-child,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col:last-child,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col:last-child {
  margin-bottom: 0;
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col .wrap,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col .wrap,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col .wrap,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col .wrap {
  position: relative;
  overflow: hidden;
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col h2,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col h2,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col h2,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 30px;
  pointer-events: none;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all .3s ease;
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col h2 a,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col h2 a,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col h2 a,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col h2 a {
  color: #fff;
  display: inline-block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col .image img,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col .image img,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col .image img,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col .image img {
  transition: all .5s ease;
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col:hover h2,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col:hover h2,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col:hover h2,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col:hover h2 {
  opacity: 1;
  background: rgba(218, 113, 86, 0.6);
}

#block-views-packages-block .view-packages #views-bootstrap-grid-1 .row .col:hover .image img,
#block-views-packages-block .view-products #views-bootstrap-grid-1 .row .col:hover .image img,
#block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row .col:hover .image img,
#block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row .col:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 992px) {
  #block-views-packages-block .view-packages #views-bootstrap-grid-1 .row:last-child,
  #block-views-packages-block .view-products #views-bootstrap-grid-1 .row:last-child,
  #block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row:last-child,
  #block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row:last-child {
    text-align: center;
  }
  #block-views-packages-block .view-packages #views-bootstrap-grid-1 .row:last-child .col,
  #block-views-packages-block .view-products #views-bootstrap-grid-1 .row:last-child .col,
  #block-views-products-block-8 .view-packages #views-bootstrap-grid-1 .row:last-child .col,
  #block-views-products-block-8 .view-products #views-bootstrap-grid-1 .row:last-child .col {
    float: none;
    display: inline-block;
    text-align: left;
  }
}

#views-company_news-block {
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 2px #ccc;
}

#views-company_news-block .title-accent {
  display: none;
}

.view-id-company_news .view-header {
  margin-bottom: 50px;
  border-bottom: solid 2px #ccc;
}

.view-id-company_news .view-header .title-accent {
  display: none;
}

.view-id-company_news .node-article.node-teaser {
  border-bottom: solid 2px #ccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.view-id-company_news .node-article.node-teaser header h2.title {
  font-family: "Economica",sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.view-id-company_news .node-article.node-teaser .content {
  margin-bottom: 30px;
}

.view-id-company_news .node-article.node-teaser .content p:last-child {
  margin-bottom: 0;
}

.view-id-company_news .node-article.node-teaser footer .links {
  padding: 0;
  margin-bottom: 0;
}

.view-id-company_news .node-article.node-teaser footer .node-readmore a {
  display: inline-block;
  background-image: linear-gradient(to bottom, #7f8c8d 0%, #727f80 100%);
  background-repeat: repeat-x;
  border-color: #727f80;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.06) inset;
  font-family: "Oswald",sans-serif;
  text-transform: uppercase;
  transition: all .3s ease;
}

.view-id-company_news .node-article.node-teaser footer .node-readmore a:hover {
  text-decoration: none;
  color: #333;
}

.view-frequently-asked-questions .owl-carousel {
  padding-bottom: 60px;
}

.page-faq .view-frequently-asked-questions {
  margin: 64px 0;
}

.view-location-map .geofieldMap {
  margin: 0;
}

#block-67 a,
#block-68 a,
#block-69 a,
#block-70 a {
  background-color: #da7156;
  background-image: none;
}

#block-67 a:hover, #block-67 a:focus,
#block-68 a:hover,
#block-68 a:focus,
#block-69 a:hover,
#block-69 a:focus,
#block-70 a:hover,
#block-70 a:focus {
  background: #727f80 !important;
}

#block-views-location-map-block-1 .row {
  margin-bottom: 30px;
}

#block-views-location-map-block-1 .field-content > a {
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 12px 24px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-image: linear-gradient(to bottom, #7f8c8d 0%, #727f80 100%);
  background-repeat: repeat-x;
  border-color: #727f80;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.06) inset;
  font-family: "Oswald",sans-serif;
}

#block-views-location-map-block-1 .field-content > a:hover, #block-views-location-map-block-1 .field-content > a:focus {
  text-decoration: none;
  border-color: #7f8c8d;
  text-shadow: none !important;
}

#block-views-location-map-block-3 #leaflet-map {
  display: none;
}

#block-views-location-map-block-3 .view-footer {
  max-height: 300px;
  overflow: hidden;
  text-align: center;
}

#block-views-location-map-block-3 .view-footer p {
  margin: -35px 0 0;
}

#block-views-location-map-block-3 .view-footer img {
  zoom: 77%;
}

#block-views-homepage-rotators-block-1 {
  width: 100%;
}

#block-views-homepage-rotators-block-1 .carousel-inner .field-content img {
  width: 100%;
}

.front .nd-region.cta {
  background: url("../images/cta.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}

.project-item .dlink,
.project-item .zoom {
  width: 100%;
}

.content #sidebar .title-accent h3,
.site-content #sidebar .title-accent h3,
.content-suffix #sidebar .title-accent h3 {
  font-size: 18px;
}

.content #sidebar .title-accent span,
.site-content #sidebar .title-accent span,
.content-suffix #sidebar .title-accent span {
  font-size: inherit;
}

.content .title-accent h3,
.site-content .title-accent h3,
.content-suffix .title-accent h3 {
  font-size: 30px;
}

.project-item .dlink .fa, .project-item .zoom .fa {
  margin: -40px 0 0 -65px;
  width: 125px;
  font-family: "Oswald",sans-serif;
}

.owl-theme .owl-pagination .owl-page.active span {
  background-color: #dc2a0b !important;
}

.block-webform {
  margin-top: 40px;
}

#block-views-homepage-rotators-block-2 .owl-wrapper .owl-item {
  text-align: center;
}

table.cart-review th:last-child {
  min-width: 100px;
}

.node-type-product .node-product .thumbnail {
  padding: 0;
  background: none;
  border: none;
}

.node-type-product .node-product .buttons_added {
  margin-bottom: 20px;
}

.node-type-product .node-product table {
  width: 100% !important;
}

.node-type-product .node-product table p {
  margin-bottom: 5px;
}

.node-type-product .node-product table p:empty {
  margin-bottom: 0;
  height: 0;
}

#uc-product-add-to-cart-form-272 .quantity,
#uc-product-add-to-cart-form-274 .quantity,
#uc-product-add-to-cart-form-275 .quantity,
#uc-product-add-to-cart-form-276 .quantity,
#uc-product-add-to-cart-form-277 .quantity {
  display: none !important;
}

#block-views-monthly-specials-block-1 {
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 2px #ccc;
}

#block-views-monthly-specials-block-1 .title-accent {
  display: none;
}

.view-monthly-specials article.node-special {
  border-bottom: solid 2px #ccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.view-monthly-specials article.node-special header h2.title {
  font-family: "Economica",sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.view-monthly-specials article.node-special .content {
  margin-bottom: 30px;
}

.view-monthly-specials article.node-special .content p:last-child {
  margin-bottom: 0;
}

.view-monthly-specials article.node-special footer .links {
  padding: 0;
  margin-bottom: 0;
}

.view-monthly-specials article.node-special footer .node-readmore a {
  display: inline-block;
  background-image: linear-gradient(to bottom, #7f8c8d 0%, #727f80 100%);
  background-repeat: repeat-x;
  border-color: #727f80;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.06) inset;
  font-family: "Oswald",sans-serif;
  text-transform: uppercase;
  transition: all .3s ease;
}

.view-monthly-specials article.node-special footer .node-readmore a:hover {
  text-decoration: none;
  color: #333;
}
